{% load staticfiles %}
<!DOCTYPE Html>
<Html>
	<head>
		<title>Play</title>
		<link rel="stylesheet" type="text/css" href="{% static 'bs/css/bootstrap.min.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-2 col-xs-offset-10">
					<a href="/logout"><h4 class="text-danger">Logout</h4></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<h2>{{data.name}}</h2> <br />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<!--<a href="{{data.vedio.url}}"><button class="btn btn-info btn-lg">Play</button></a><br />-->
					<video autoplay controls height="400" width="700">
						<source src="{{data.vedio.url}}" type="video/mp4" />
					</video>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<h3 class="text-info">Leave your reviews here</h3>
					<table class="table">
						{% for d in data2 %}
							<tr>
								<td><b>{{d.user}}<b></td>
								<td>{{d.comment}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-2">
				<form method="post">
					{% csrf_token %}
					{{form.as_p}}
					<button class="btn btn-primary" type="submit">Comment</button>
				</form>
			</div>
		</div>
	</body>
</Html>