{% load staticfiles %}
<!DOCTYPE Html>
<html>
	<head>
		<title>Watch</title>
		<link href="{% static 'bs/css/bootstrap.min.css' %}" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-2 col-xs-offset-10">
					<a href="/logout"><h4 class="text-danger">Logout</h4></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9">
					<div class="page-header">
						<h1>Play your vedios and tracks here</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4">
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th class="text-primary">Name</th>
							<th class="text-primary">Updated</th>
						</tr>
						{% for d in data %}
							<tr>
								<td><a href="/accounts/{{d.id}}">{{d.name}}</a></td>
								<td>{{d.updated}}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
			<!--<video width="320" height="240" controls>
  <source src="{{d.vedio.url}}" type="vedio/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>-->
	</body>
</html>